
/* Umum 
top: 100%;
      }
    }
  }
}

.credits {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 15px 15px;
    width: 100%;
    z-index: 111;

    a {
        opacity: 0.6;
        color: #fff;
        font-size: 11px;
        text-decoration: none;
        &:hover {
          opacity: 1;
      }
    }
}
